<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title java scripts
body
	h1 javas scripts
	section#mensaje 
	script.
		var mensaje = document.getElementById("mensaje")
		var nombre = prompt(" cual es el nombe");
		if(nombre== "juanp") { 
		mensaje.innerHTML = "Bienvenido programador: "+juanp;
		} else {
		 mensaje.innerHTML = "bienvenido: "+juanp;
		 }
	