<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title ciclo para 
body
	h1 ciclo para
	ul
		-for(var i = 1; i <= 80; i++)
			li elemento #{i} 
	table(border="1")
		-for(var tr = 1; tr <= 5; tr++)
			tr
			-for(var td = 1; td <=100; td++)
				td F#{tr} C#{td}
