<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title comentarios
body
	h1 comentarios
	// esto es un comentatrio y es visible en HTML
	//-este es un cometario que no es visible en HTML

	//

		esto es un 
	    comentario 
	    de varias lineas